*{
    margin: 0; padding: 0;
    box-sizing: border-box;
   
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainheader .logo img {
    width: 500; height: 150px;
    padding-left: 60px;
    border-radius: 100px;
}
.mainheader nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainheader nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menubtn{
    margin: 50px;
}
.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: blue;
    border-radius: 10px;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
main .right-section {
    padding-right: 70px;
    
}
main  .left-section {
 padding-left: 100px;
}
.left-section h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #242424;
    margin-top: 100px;  
}
.left-section h1{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0;
}
.left-section p{
    margin-bottom: 20px;
}
.left-section button{
      padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: blue;
    border-radius: 10px;
}
.bgimg{
    border-radius: 80px;
}